.gitattributes text eol=lf export-ignore
.gitignore export-ignore
release-artifacts export-ignore
release-artifacts/** export-ignore
build export-ignore
build/** export-ignore
build_win export-ignore
build_win/** export-ignore
